# HTML parsing with `Beautiful Soup`: A Mini Project

- scrape data from a public website
- organize the data as a dataframe
- export the data as an excel sheet

## Import

In [5]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

#
## Request And Script

In [12]:
url = 'https://www.bbc.com/sport/football/womens-european-championship/top-scorers'

In [13]:
name= []
club = []
matches=[]
goals=[]
assists = []

In [14]:
try:
    response = requests.get(url)
    response.raise_for_status
except Exception as e:
    print(e)
else:
    print('\nSuccessfull Request!!\n')
    soup = BeautifulSoup(response.content, 'html.parser')
    
    #print(soup.prettify())
    # print(f'Tables in websight : {len(soup.find_all('tbody'))}')
    # print(f'No of Players in websight : {len(soup.find('tbody').find_all('tr'))}')

    for data in soup.find('tbody').find_all('tr', class_='ssrcss-qqhdqi-TableRowBody e1icz100'):
        player= data.find('div', class_= 'ssrcss-m6ah29-PlayerName e1n8xy5b1').get_text(strip= True)
        team = data.find('div', class_= 'ssrcss-qvpga1-TeamsSummary e1n8xy5b0').get_text(strip = True)
        goal = int(data.find('div', class_= 'ssrcss-18ap757-CellWrapper ef9ipf0').get_text(strip=True))
        
        data_1 = data.find_all('div', class_ = "ssrcss-1vo7v3r-CellWrapper ef9ipf0")
        match = int(data_1[2].get_text(strip = True))
        assist = int(data_1[0].get_text(strip = True))

        

        name.append(player)
        club.append(team)
        goals.append(goal)
        matches.append(match)
        assists.append(assist)

    print('Successfull Execution')
    details = {
        'Player_Name' : name,
        'Club' : club,
        "Matches_Played" : matches,
        'Goals' : goals,
        "Assist" : assists
    }
    Data_Frame= pd.DataFrame(details)

    print('\nDataFrame Created\n')
        

Data_Frame

Successfull Request!!

Successfull Execution

DataFrame Created

        Player_Name     Club  Matches_Played  Goals  Assist
0   Esther González    Spain               6      4       0
1   Alèxia Putellas    Spain               6      3       4
2   S. Blackstenius   Sweden               4      3       1
3        C. Girelli    Italy               5      3       0
4        K. Asllani   Sweden               4      2       3
..              ...      ...             ...    ...     ...
69    Irene Paredes    Spain               5      1       0
70          L. Hemp  England               6      1       0
71   Patri Guijarro    Spain               6      1       0
72        L. Bronze  England               6      1       0
73         K. Walsh  England               6      1       0

[74 rows x 5 columns]

In [15]:
Data_Frame.to_excel('Premium_League Top Scorers.xlsx', index = False)
print('Exported To Excel')

Exported To Excel